.row{
    height: 100vh;
}
.nav-link:hover,
.nav-link:hover .nav-icon {
    color:#2361FF !important;
}
.active .nav-icon {
    color:#2361FF;
}
.active {
    font-weight: 600;
}
.nav-item {
    margin-top: 35px;
}
.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.nav-item {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    margin-right: 20px;
}
.wrapper {
    background-color:#E5E5E5;
    padding: 15px 15px 0px 15px;
}
.inner {
    background-color:#fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.user-name {
    font-size: 12px;
    margin-left: 20px;
}

/* @Media */

@media (max-width: 767px) { 
    .wrapper {
        background-color:#fff;        
    }
    .row{
        height: auto;
    }
    .nav-item {
        display: block;
        
    }
    .badge {
        margin-left: 15px;
    }
 }